In [1]:
import pandas as pd
import numpy as np

In [2]:
seg_df = pd.read_csv('DATA SET FOR RFM-VALUE BASED SEGMENTATION.csv',sep=',')

In [170]:
seg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22602 entries, 0 to 22601
Data columns (total 9 columns):
cust_id                 22602 non-null int64
No_of_days_frm_L_pur    22602 non-null int64
total_sale              22602 non-null float64
No_baskets              22602 non-null int64
item_cnt                22602 non-null int64
no_SKUs                 22602 non-null int64
no_Categories           22602 non-null int64
avg_no_prds_w_ret       22602 non-null float64
Flag_Multi_cat_p2       22602 non-null int64
dtypes: float64(2), int64(7)
memory usage: 1.6 MB

In [3]:
seg_df.head()

,cust_id,No_of_days_frm_L_pur,total_sale,No_baskets,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2
0,347,3,444.00,4,47,25,5,11.75000,0
1,585,320,509871.48,27,19322,531,68,715.62963,0
2,885,115,2284.59,4,247,130,17,61.75000,1
3,1670,3,8092.17,28,553,306,114,19.75000,1
4,2188,428,200.50,1,51,14,2,51.00000,0

In [172]:
seg_df.columns

Index([u'cust_id', u'No_of_days_frm_L_pur', u'total_sale', u'No_baskets',
       u'item_cnt', u'no_SKUs', u'no_Categories', u'avg_no_prds_w_ret',
       u'Flag_Multi_cat_p2'],
      dtype='object')

In [4]:
seg_df.rename(columns={'No_of_days_frm_L_pur': 'recency', 
                         'No_baskets': 'frequency', 
                         'total_sale': 'monetary_value'}, inplace=True)

In [174]:
seg_df.columns

Index([u'cust_id', u'recency', u'monetary_value', u'frequency', u'item_cnt',
       u'no_SKUs', u'no_Categories', u'avg_no_prds_w_ret',
       u'Flag_Multi_cat_p2'],
      dtype='object')

# Value based segmentation

In [5]:
# creating Deciles
seg_df['decile'] = pd.qcut(seg_df['monetary_value'], 10, labels=False)

In [6]:
seg_df.head(5)

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile
0,347,3,444.00,4,47,25,5,11.75000,0,5
1,585,320,509871.48,27,19322,531,68,715.62963,0,9
2,885,115,2284.59,4,247,130,17,61.75000,1,8
3,1670,3,8092.17,28,553,306,114,19.75000,1,9
4,2188,428,200.50,1,51,14,2,51.00000,0,3

In [7]:
# Key performace variable selection
col_kpi=['monetary_value','recency','frequency','item_cnt','no_SKUs',
         'no_Categories','avg_no_prds_w_ret','Flag_Multi_cat_p2']

In [8]:
#Profiling
VB_Profiling=seg_df.groupby(['decile']).apply(lambda x: x[col_kpi].mean())

In [190]:
VB_Profiling.columns

Index([u'monetary_value', u'recency', u'frequency', u'item_cnt', u'no_SKUs',
       u'no_Categories', u'avg_no_prds_w_ret', u'Flag_Multi_cat_p2'],
      dtype='object')

In [200]:
VB_Profiling

,monetary_value,recency,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2
decile,,,,,,,,
0,69.865536,238.693761,1.019772,6.140598,3.235501,1.648067,5.964572,0.117311
1,107.423593,197.436331,1.018255,10.094390,5.451024,2.228406,9.995548,0.334817
2,153.687809,187.954405,1.194776,11.041169,5.681275,2.354139,9.499277,0.326251
3,229.448081,170.429708,1.683908,18.546861,9.091954,3.597259,11.684586,0.416004
4,331.000137,174.325066,2.343667,25.880425,12.349867,4.984500,11.650923,0.443313
5,474.869996,123.691150,2.805752,34.734071,16.421239,6.288938,14.139388,0.588938
6,712.810314,100.781858,4.040265,50.161504,25.389381,9.525664,13.328497,0.699558
7,1140.993296,77.999115,6.153540,80.302655,40.023894,15.100442,14.260162,0.799115
8,2013.107841,61.258407,9.705752,137.839823,65.577876,24.642035,15.953250,0.846903
9,7405.863361,50.987616,18.102609,354.333481,129.369306,48.166298,24.099957,0.865104

# RFM SEGMENTATION

In [9]:
seg_df.rename(columns={'No_of_days_frm_L_pur': 'recency', 
                         'No_baskets': 'frequency', 
                         'total_sale': 'monetary_value'}, inplace=True)

In [ ]:
#Method-1: Creating quartiles

#seg_df['R_Quartile'] = pd.qcut(seg_df['recency'], 4, labels=False)
#seg_df['F_Quartile'] = pd.qcut(seg_df['recency'], 4, labels=False)
#seg_df['M_Quartile'] = pd.qcut(seg_df['recency'], 4, labels=False)

In [10]:
#Method-2: Creating quartiles

quantiles = seg_df[['frequency','monetary_value','recency' ]].quantile(q=[0.25,0.5,0.75])
quantiles

      frequency  monetary_value  recency
0.25        1.0         151.800     26.0
0.50        2.0         393.755     93.0
0.75        5.0        1117.725    225.0

In [11]:
quantiles = quantiles.to_dict()
quantiles

{'frequency': {0.25: 1.0, 0.5: 2.0, 0.75: 5.0},
 'monetary_value': {0.25: 151.80000000000001,
  0.5: 393.755,
  0.75: 1117.7249999999999},
 'recency': {0.25: 26.0, 0.5: 93.0, 0.75: 225.0}}

In [13]:
#We create two classes for the RFM segmentation since, being high recency is bad, while high frequency and monetary value is good.
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def RClass(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def FMClass(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [15]:
seg_df['R_Quartile'] = seg_df['recency'].apply(RClass, args=('recency',quantiles,))
seg_df['F_Quartile'] = seg_df['frequency'].apply(FMClass, args=('frequency',quantiles,))
seg_df['M_Quartile'] = seg_df['monetary_value'].apply(FMClass, args=('monetary_value',quantiles,))

In [16]:
seg_df.head()

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile,R_Quartile,F_Quartile,M_Quartile
0,347,3,444.00,4,47,25,5,11.75000,0,5,1,2,2
1,585,320,509871.48,27,19322,531,68,715.62963,0,9,4,1,1
2,885,115,2284.59,4,247,130,17,61.75000,1,8,3,2,1
3,1670,3,8092.17,28,553,306,114,19.75000,1,9,1,1,1
4,2188,428,200.50,1,51,14,2,51.00000,0,3,4,4,3

In [17]:
pd.pivot_table?

In [17]:
cnt=seg_df['R_Quartile'].value_counts()
pct=seg_df['R_Quartile'].value_counts()/sum(seg_df['R_Quartile'].value_counts())
print pd.concat([cnt, pct], axis=1)

cnt=seg_df['F_Quartile'].value_counts()
pct=seg_df['F_Quartile'].value_counts()/sum(seg_df['F_Quartile'].value_counts())
print pd.concat([cnt, pct], axis=1)

cnt=seg_df['M_Quartile'].value_counts()
pct=seg_df['M_Quartile'].value_counts()/sum(seg_df['M_Quartile'].value_counts())
print pd.concat([cnt, pct], axis=1)

   R_Quartile  R_Quartile
1        5686    0.251571
3        5660    0.250420
4        5637    0.249403
2        5619    0.248606
   F_Quartile  F_Quartile
4        8711    0.385408
1        5585    0.247102
2        4920    0.217680
3        3386    0.149810
   M_Quartile  M_Quartile
4        5652    0.250066
1        5651    0.250022
2        5650    0.249978
3        5649    0.249934

In [210]:
pd.pivot_table(seg_df,index=["R_Quartile", "F_Quartile"],columns=['M_Quartile'],values=["cust_id", "monetary_value"],
               aggfunc={"cust_id":len, "monetary_value":sum},fill_value=0)

                      cust_id                 monetary_value             \
M_Quartile                  1    2    3     4              1          2
R_Quartile F_Quartile
1          1             2646  423    1     0       12173949  373687.41
           2              183  841  196     0         479620  562380.65
           3               33  163  349    17          79658   94013.22
           4               20   75  248   491         125569   43387.52
2          1             1298  389    0     0        4079800  343090.78
           2              273  964  216     1         629116  641813.84
           3               60  231  457    28         181869  135372.94
           4               63  258  516   865         194760  134683.79
3          1              428  212    2     0        1436694  181321.88
           2              158  820  286     2         662996  525827.89
           3               53  243  720    57         171626  139805.98
           4               68  186  709  1716         191950  109421.02
4          1              121   64    1     0        1187759   53530.96
           2               85  402  490     3         346763  248761.98
           3               50  200  658    67         276998  114768.16
           4              112  179  800  2405         529100  106986.76


M_Quartile                     3          4
R_Quartile F_Quartile
1          1              393.04       0.00
           2            64299.13       0.00
           3            91942.96    2034.75
           4            55051.84   50148.13
2          1                0.00       0.00
           2            69578.23     150.10
           3           120371.60    3278.51
           4           120693.09   87949.51
3          1              607.38       0.00
           2            91858.76     232.28
           3           183848.64    6539.45
           4           159680.91  166436.20
4          1              392.59       0.00
           2           154314.17     285.27
           3           162289.19    7983.36
           4           185850.95  227667.94

In [30]:
pd.crosstab(seg_df.F_Quartile,seg_df.M_Quartile)

M_Quartile     1     2     3     4
F_Quartile
1           4493  1088     4     0
2            699  3027  1188     6
3            196   837  2184   169
4            263   698  2273  5477

In [18]:
seg_df1=seg_df.assign(R_seg=np.nan, FM_seg =np.nan)
seg_df1.R_seg[seg_df['R_Quartile']==4] = "1.Active"
seg_df1.R_seg[seg_df['R_Quartile']==2] = "2.At Risk"
seg_df1.R_seg[seg_df['R_Quartile']==3] = "2.At Risk"
seg_df1.R_seg[seg_df['R_Quartile']==1] = "3.Churn"

seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==1)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==1)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==2)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==2)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==4)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==1) & (seg_df['M_Quartile']==3)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==3)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==3)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==3)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==1) & (seg_df['M_Quartile']==4)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==4)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==4)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==4)] = "0.Standard"

seg_df1.FM_seg.fillna("4.Premium", inplace=True)

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\ProgramData\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\ProgramData\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [212]:
seg_df1.columns

Index([u'cust_id', u'recency', u'monetary_value', u'frequency', u'item_cnt',
       u'no_SKUs', u'no_Categories', u'avg_no_prds_w_ret',
       u'Flag_Multi_cat_p2', u'decile', u'R_Quartile', u'F_Quartile',
       u'M_Quartile', u'FM_seg', u'R_seg'],
      dtype='object')

In [217]:
seg_df1.head(5)

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile,R_Quartile,F_Quartile,M_Quartile,FM_seg,R_seg
0,347,3,444.00,4,47,25,5,11.75000,0,5,1,2,2,2.Gold,3.Churn
1,585,320,509871.48,27,19322,531,68,715.62963,0,9,4,1,1,4.Premium,1.Active
2,885,115,2284.59,4,247,130,17,61.75000,1,8,3,2,1,4.Premium,2.At Risk
3,1670,3,8092.17,28,553,306,114,19.75000,1,9,1,1,1,4.Premium,3.Churn
4,2188,428,200.50,1,51,14,2,51.00000,0,3,4,4,3,1.Silver,1.Active

In [19]:
pd.pivot_table(seg_df1,index=["R_seg"],columns=['FM_seg'],values=["cust_id",  "frequency", "monetary_value",],
               aggfunc={"cust_id":len, "frequency":np.mean, "monetary_value":np.mean},fill_value=0)

           frequency                                   cust_id           \
FM_seg    0.Standard  1.Silver    2.Gold  4.Premium 0.Standard 1.Silver
R_seg
1.Active           1  1.479712  3.064542   4.786192       2405     1528
2.At Risk          1  1.509237  3.247172   8.363835       2581     2490
3.Churn            1  1.596091  3.511164  14.798918        491      614

                           monetary_value                           \
FM_seg    2.Gold 4.Premium     0.Standard    1.Silver       2.Gold
R_seg
1.Active    1255       449      94.664424  233.251813  1055.247251
2.At Risk   3006      3202      98.560910  238.873325   780.129847
3.Churn     1254      3327     102.134684  242.719137   738.687137


FM_seg       4.Premium
R_seg
1.Active   3775.144343
2.At Risk  2366.371868
3.Churn    3928.657833

In [138]:
seg_df1.columns

Index([u'cust_id', u'recency', u'monetary_value', u'frequency', u'item_cnt',
       u'no_SKUs', u'no_Categories', u'avg_no_prds_w_ret',
       u'Flag_Multi_cat_p2', u'R_Quartile', u'F_Quartile', u'M_Quartile',
       u'R_seg', u'FM_seg'],
      dtype='object')

In [20]:
# Key performace variable selection
col_kpi=['monetary_value','recency','frequency','item_cnt','no_SKUs',
         'no_Categories','avg_no_prds_w_ret','Flag_Multi_cat_p2']

In [21]:
#Profiling
Profiling=seg_df1.groupby(['R_seg', 'FM_seg']).apply(lambda x: x[col_kpi].mean()).T

In [22]:
Profiling

R_seg                1.Active                                        \
FM_seg             0.Standard    1.Silver       2.Gold    4.Premium
monetary_value      94.664424  233.251813  1055.247251  3775.144343
recency            351.511019  330.308901   326.814343   309.363029
frequency            1.000000    1.479712     3.064542     4.786192
item_cnt             8.594595   17.469895    37.080478   137.200445
no_SKUs              4.600832    8.229712    14.170518    31.051225
no_Categories        2.095218    3.328534     6.287649    11.233853
avg_no_prds_w_ret    8.594595   11.961627    13.833625    24.139014
Flag_Multi_cat_p2    0.000000    0.000000     0.000000     0.000000

R_seg               2.At Risk                                       \
FM_seg             0.Standard    1.Silver      2.Gold    4.Premium
monetary_value      98.560910  238.873325  780.129847  2366.371868
recency            121.963967  114.298795  101.602462    81.002498
frequency            1.000000    1.509237    3.247172     8.363835
item_cnt             8.047656   16.590361   41.909182   137.563710
no_SKUs              4.330105    8.208434   19.912176    55.733604
no_Categories        1.813638    3.110442    7.337991    20.828232
avg_no_prds_w_ret    8.047656   11.392303   13.988440    17.740587
Flag_Multi_cat_p2    0.419217    0.546586    0.718563     0.811680

R_seg                 3.Churn
FM_seg             0.Standard    1.Silver      2.Gold    4.Premium
monetary_value     102.134684  242.719137  738.687137  3928.657833
recency             11.890020   12.228013   11.742424    10.924857
frequency            1.000000    1.596091    3.511164    14.798918
item_cnt             8.152749   16.244300   44.181021   238.825669
no_SKUs              4.472505    8.846906   21.535088   104.183950
no_Categories        1.902240    3.434853    8.086124    39.227532
avg_no_prds_w_ret    8.152749   10.463355   13.470282    15.814134
Flag_Multi_cat_p2    0.535642    0.721498    0.912281     0.972047